body{
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#hand{
  width: 100px;
  height: auto;
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;
}
.container {
  display: flex;
  align-items: center;
  height: 33.3vh;
  flex-direction: column;
  
}
.item1{
  display: flex;
  flex-direction: column;
  background-color: rgb(94, 125, 84);
  padding:20px;
  width: 400px;
  text-align: center;
  align-items: center;
  line-height: 1;
}
.item{
  text-align: center;
  background-color: rgba(240, 128, 128, 0.664);
  font-size: 18px;
  margin: 20px;
  padding: 10px;
  line-height: 1.5;
}
#pizzas{
  text-align: center;
  padding:20px;
}
.item3{
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 128, 128, 0.664);
  text-align: center;
  padding: 20px;
}

.hidden{
  display:none
}